
<table border="1" cellpadding="5" cellspacing="5">
<tr>
<th>Company ID</th>
<th>Company</th>
</tr>
<% @accounts.each do |a| %>
<tr>
<td><%= a.id %></td>
<td><%= link_to a.name, account_path(a) %></td>
</tr>
<% end %>

</table>
